/* Flex Containers */

.flexRow__container,
.flexColumn__container {
    display: flex;
}

.flexRow__container {
    flex-flow: row wrap;
}

.flexColumn__container {
    flex-flow: column wrap;
}

/* Table container */

.table__container {
    background: rgb(0, 138, 52);
    background: linear-gradient(90deg, rgba(0, 138, 52, 1) 0%, rgba(0, 164, 62, 1) 100%);
    border-radius: 6px;
    margin-bottom: 20px;
}

.table__container header {
    padding: 20px 0;
    color: white;
    background: rgb(11, 37, 64);
    background: linear-gradient(90deg, rgba(11, 37, 64, 1) 0%, rgba(12, 80, 150, 1) 100%);
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}

.table__container header h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 0 !important;
}

.table__container .score__content {
    width: 33.3%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.table__container .score__content input {
    height: 20px;
    width: 40px;
    text-align: center;
    border: none;
}

.table__container .score__content img {
    width: 25px;
    height: 17px;
}

.table__container .score__content .country__label {
    padding-bottom: 3px;
}

.table__container .score__content .country__label label {
    padding: 0;
    border: none;
    cursor: auto;
    line-height: inherit;
    color: white;
    font-weight: bold;
}

.table__container .score__content .country__label:first-child img {
    margin-right: 5px;
}

.table__container .score__content .country__label:last-child img {
    margin-left: 5px;
}

.center-box {
    text-align: center;
}

.enviarResultados,
.enviarResultadosFinal {
    background: red;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    display: inline-block;
}

.enviarResultados:hover,
.enviarResultadosFinal:hover {
    color: white;
}

/* Primera sección */

#mu-hero {
    padding-top: 90px;
    padding-bottom: 0;
    background: #ce190b;
}

#mu-hero img {
    display: block;
    width: 100%;
}

#mu-header.mu-fixed-nav {
    background: rgba(206, 25, 11, 0.9);
}

/* Pasos */

.pasos__container img {
    display: block;
    margin: 0 auto;
}

/* Premios */

#premios {
    padding: 50px 0 100px 0;
    background: url('../images/bg_prize.png');
    display: inline;
    float: left;
    width: 100%;
}

#premios header {
    text-align: center;
}

#premios img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* Formulario */

.mu-send-msg-btn {
    cursor: pointer
}

/* Preguntas */

#quiz {
    width: 60%;
}

.preguntas__container {
    background: url('../images/fondo_preguntas.jpg');
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: ease-in-out all 0.5s;
}

.preguntas__container.active {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
}

.preguntas__container.active.newBG {
    background: url('../images/bg_prize.png');
}

.preguntas__container h1 {
    color: #ce190b;
    font-size: 30px;
}

.preguntas__container ul {
    padding: 0;
}

.preguntas__container ul li {
    list-style: none;
    position: relative;
    margin-bottom: 15px;
}

.preguntas__container #question p {
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}

.fondoTitulo {
    position: relative;
    margin-top: -50px;
    margin-left: -34px;
    z-index: -1;
}

.preguntas__container #question h2 {
    font-size: 20px;
    margin: 0;
    margin-top: 50px;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0px 3px 2px #000000;
}

.preguntas__container #question h4 {
    margin-top: 30px;
    max-width: 230px;
    margin: 30px auto 20px;
    margin-bottom: 20px;
    background: #009c3b;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
}

.preguntas__container #question .subrayadoPasto {
    background-image: url(../images/titulo_sub.png);
    width: 110px;
    height: 18px;
    margin: -13px auto 0;
}

#question label.hoverItem {
    background: #ff3728;
    color: white;
    font-weight: bold;
}

.preguntas__container input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.preguntas__container input[type="radio"]:checked+label,
.Checked+label {
    background: #ce190b;
    color: white;
    border-color: #ce190b;
    font-weight: bold;
}

.buttons__container .button_cuestionario a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.preguntas__container label {
    padding: 5px 10px;
    border: 1px solid black;
    font-weight: normal;
    color: black;
    cursor: pointer;
    line-height: initial;
    z-index: 90;
    font-size: 15px;
    border-radius: 5px;
}

.buttons__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: space-around;
}

.buttons__container .button_cuestionario:first-child {
    margin-right: 10px;
}

.buttons__container .button_cuestionario {
    max-width: 120px;
    width: auto;
    padding: 10px;
    border: 2px solid #ce190b;
    background: #ce190b;
    cursor: pointer;
    border-radius: 6px;
}

/* Formulario escondido */

.hiddenForm {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.hiddenForm h3 {
    color: #ce190b;
}

@media (max-width: 650px) {
    .pasos__container img {
        width: 60%;
        max-width: 280px;
    }

    #premios img {
        width: 80%;
    }

    .table__container .score__content {
        width: 100%;
    }
    #quiz {
        width: 100%;
    }
    #logoCopa {
        display: none;
    }
}

#gracias header {
    display: block;
    background: #ce190b;
}

.gracias__container {
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 120px 0 0;
}

.gracias__container h2,
.gracias__container p {
    text-align: center;
}

.gracias__container h2 {
    color: #ce190b;
    font-weight: bold;
}

#enviar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #ce190b;
    transition: all ease-in-out 0.6s;
    box-shadow: none;
}

#enviar img {
    width: 110px;
}

#enviar:hover {
    font-weight: bold;
}